.a [type=submit]{
    background-color: rgb(0, 47, 255);
    color: rgb(0, 0, 0);
    padding: 12px 18px;
    margin: 8px 0;
    border: solid;
    border-radius: 6px;
    cursor: pointer;
}

.b [type=submit]{
background-color: rgb(145, 135, 235);
color: rgb(0, 0, 0);
padding: 12px 18px;
margin: 8px 0;
border: solid;
border-radius: 6px;
cursor: pointer;
}

.c [type=submit]{
background-color: rgb(185, 173, 230);
color: black;
padding: 12px 18px;
margin: 8px 0;
border: solid;
border-radius: 6px;
cursor: pointer;
}

